.ux28 .hurry-text {
  display: inline;
  width: 50px;
  font-weight: bold;
  color: #000;
}
@media only screen and (max-width: 375px) {
  .ux28 .hof-pdp-mobile #deliveryChannelsUL li.shipping-icons div.shippingTitle.text-hof-pink.padded {
    padding: 0px 0 10px;
    height: 10px;
  }
}
@media only screen and (max-width: 325px) {
  .ux28 .hof-pdp-mobile #deliveryChannelsUL li.shipping-icons div.shippingTitle.text-hof-pink {
    padding: 0px 0 10px;
    height: 10px;
  }
}
.ux28 .hof-pdp-mobile #deliveryChannelsUL li.shipping-icons {
  height: 40px;
}
