.ux25-v3 .font-xs {
  font-size: 12px;
}
.ux25-v3 .font-sm {
  font-size: 14px;
}
.ux25-v3 .font-md {
  font-size: 16px;
}
.ux25-v3 .font-lg {
  font-size: 18px;
}
.ux25-v3 .font-xl {
  font-size: 20px;
}
.ux25-v3 .font-xs-large {
  font-size: 22px;
}
.ux25-v3 .font-sm-large {
  font-size: 24px;
}
.ux25-v3 .font-md-large {
  font-size: 26px;
}
.ux25-v3 .font-lg-large {
  font-size: 28px;
}
.ux25-v3 .font-xl-large {
  font-size: 30px;
}
.ux25-v3 .font-xs-extra-large {
  font-size: 32px;
}
.ux25-v3 .font-sm-extra-large {
  font-size: 34px;
}
.ux25-v3 .font-md-extra-large {
  font-size: 36px;
}
.ux25-v3 .font-lg-extra-large {
  font-size: 38px;
}
.ux25-v3 .font-xl-extra-large {
  font-size: 40px;
}
.ux25-v3 .pull-right {
  float: right;
}
.ux25-v3 .marg-right {
  margin-right: 10px;
}
.ux25-v3 .line-height-1 {
  line-height: 1;
}
.ux25-v3 .letter-spacing-sm {
  letter-spacing: 1px;
}
.ux25-v3 .vis-none {
  visibility: hidden;
}
.ux25-v3 .inner-content {
  margin-left: 5px;
}
.ux25-v3 .black-bg {
  width: 100%;
  height: 2000px;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}
.ux25-v3 .blur-bg {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  z-index: -1;
  opacity: 0.97;
  top: -15px;
}
.ux25-v3 .icon-time {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMzUuNXB4IiBoZWlnaHQ9IjM1LjVweCIgdmlld0JveD0iMCAwIDM1LjUgMzUuNSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMzUuNSAzNS41IiB4bWw6c3BhY2U9InByZXNlcnZlIj48Zz48cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMTcuOCwwLjJDOC4xLDAuMiwwLjIsOC4xLDAuMiwxNy44czcuOCwxNy41LDE3LjUsMTcuNXMxNy41LTcuOCwxNy41LTE3LjVTMjcuNCwwLjIsMTcuOCwwLjJ6IE0yNS44LDIyLjdsLTguNS00LjVWNi4yaDF2MTEuM2w4LDQuMkwyNS44LDIyLjd6Ii8+PC9nPjwvc3ZnPg==);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 20px auto;
}
.ux25-v3 .icon-cross {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTBweCIgaGVpZ2h0PSIxMHB4IiB2aWV3Qm94PSIwIDAgMTAgMTAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEwIDEwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48bGluZSBmaWxsPSJub25lIiBzdHJva2U9IiM4QzhDOEMiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgeDE9IjAiIHkxPSIxMCIgeDI9IjEwIiB5Mj0iMCIvPjxsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzhDOEM4QyIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiB4MT0iMTAiIHkxPSIxMCIgeDI9IjAiIHkyPSIwIi8+PC9zdmc+);
  background-repeat: no-repeat;
  cursor: pointer;
}
.ux25-v3 .img-overlay {
  position: absolute;
  width: 100%;
  height: 182px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  z-index: 2;
  visibility: hidden;
}
.ux25-v3 .remove-clicked .img-overlay {
  visibility: visible;
  opacity: 0.9;
  z-index: 1000;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.ux25-v3 .img-overlay.see-all-items {
  visibility: visible;
  opacity: 0.9;
  z-index: 1000;
  top: 0;
  cursor: pointer;
}
.ux25-v3 .img-overlay.see-all-items a {
  color: white;
}
.ux25-v3 .vertical-middle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
