.UX27-v2 #checkoutProgress {
  text-align: center;
  margin-bottom: 0;
}
.UX27-v2 #secure li.amexSafekey,
.UX27-v2 #secure li.geotrust,
.UX27-v2 #secure li.mastercard,
.UX27-v2 #secure li.visa,
.UX27-v2 .hof_card_1,
.UX27-v2 .hof_card_2,
.UX27-v2 .visa_card,
.UX27-v2 .master_card,
.UX27-v2 .maestro_card,
.UX27-v2 .diners_club_card,
.UX27-v2 .american_exp_card,
.UX27-v2 .paypal_card {
  background: #ffffff url('http://i.imgur.com/Lq8QoJ5.png') no-repeat left top;
}
.UX27-v2 #secure {
  float: none;
  height: 35px;
}
.UX27-v2 #secure ul {
  width: 380px;
  float: none;
  margin: 0 auto;
}
.UX27-v2 #secure li {
  margin: 0 10px 0 0;
  text-align: left;
  text-indent: -9999px;
}
.UX27-v2 #secure li :last {
  margin-right: 0;
}
.UX27-v2 #secure li.amexSafekey {
  background-position: 0 -75px;
  width: 91px;
  height: 35px;
}
.UX27-v2 #secure li.geotrust {
  background-position: -100px -75px;
  width: 106px;
  height: 35px;
}
.UX27-v2 #secure li.mastercard {
  background-position: 0 -110px;
  width: 74px;
  height: 35px;
}
.UX27-v2 #secure li.visa {
  background-position: -214px -80px;
  width: 56px;
  height: 35px;
}
@media only all and (max-width: 375px) {
  .UX27-v2 #promotionalCodeContainer {
    float: none;
  }
  .UX27-v2 #couponCodeInput {
    width: 97%;
  }
  .UX27-v2 .addCouponButton {
    width: 100%;
  }
  .UX27-v2 .cartPage div.promotionalCode {
    width: 100%;
  }
  .UX27-v2 .cartPage div.promotionalCode label {
    float: none;
    text-align: left;
  }
  .UX27-v2 .cartPage .subTotalTable {
    width: 100%;
  }
  .UX27-v2 .cartPage .subTotalTable th {
    text-align: left;
  }
  .UX27-v2 #secure ul {
    width: 240px;
  }
  .UX27-v2 #secure li {
    margin-right: 20px;
    margin-bottom: 15px;
    margin-left: 0;
  }
  .UX27-v2 #secure li.mastercard {
    margin-right: 38px;
  }
  .UX27-v2 #secure li.visa {
    margin-left: 20px;
  }
}
