.ux21-v1 .js-overlay {
  height: 43px;
  width: 258px;
  position: absolute;
}
.ux21-v1 .js-tooltip-container {
  position: absolute;
  top: 0;
  width: 256px;
  border: 1px solid black;
  background-color: white;
  height: 73px;
}
.ux21-v1 .js-tooltip {
  padding: 20px;
  font-size: 14px;
}
.ux21-v1 .js-close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  float: right;
  cursor: pointer;
}
.ux21-v1 .js-arrow-bottom {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid;
  position: absolute;
  top: 73px;
  right: 120px;
}
